<div class="page-head">
  <h2 class="page-head-title">
    {{ 'birthdays.home.content.search.welcome' | translate }}
  </h2>
</div>

<div class="main-content container-fluid">

  <!-- start add form -->
  <div class="row" *ngIf="initialized">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          {{  ( mode === 'ADD' ? 'birthdays.changes.birthdays.titleAdd' : 'birthdays.changes.birthdays.titleEdit' ) | translate }}
        </div>
        <div class="card-body">

          <!-- start form -->
          <div class="row">
            <div class="col-sm-12">

              <form novalidate="" #addOrEditBirthdayForm="ngForm">

                <div class="form-group">
                  <label> {{ 'birthdays.changes.birthdays.dateOfBirth' | translate }} </label>

                  <div class="input-group date">
                    <input
                      class="form-control"
                      [ngClass]="{'is-valid': !dateOfBirth?.invalid, 'is-invalid': dateOfBirth?.invalid && ( dateOfBirth?.touched || dateOfBirth?.dirty )}"
                      id="dateOfBirth"
                      name="date"
                      type="text"
                      placeholder="dd.mm.yyyy"
                      [(ngModel)]="model.date"
                      #dateOfBirth="ngModel"
                      required
                      appValidDate>

                    <div class="input-group-append">
                      <button class="btn btn-primary btn-lg">
                        <i class="icon-th mdi mdi-calendar mdi-hc-lg"></i>
                      </button>
                    </div>

                    <div class="invalid-feedback" *ngIf="dateOfBirth?.invalid && ( dateOfBirth?.touched || dateOfBirth?.dirty )">
                      {{ 'birthdays.changes.validations.date' | translate }}
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label> {{ 'birthdays.changes.birthdays.personInfo' | translate }} </label>

                  <input
                    class="form-control"
                    [ngClass]="{'is-valid': !personInfo?.invalid, 'is-invalid': personInfo?.invalid && ( personInfo?.touched || personInfo?.dirty )}"
                    id="personInfo"
                    name="personInfo"
                    placeholder="Who is this lucky person?"
                    [(ngModel)]="model.personInfo"
                    #personInfo="ngModel"
                    required maxlength="100">

                  <div class="invalid-feedback" *ngIf="personInfo?.invalid && ( personInfo?.touched || personInfo?.dirty )">
                    {{ 'birthdays.changes.validations.personInfo' | translate }}
                  </div>
                </div>

                <div class="form-group">
                  <label> {{ 'birthdays.changes.birthdays.note' | translate }} </label>

                  <textarea
                    class="form-control"
                    [ngClass]="{'is-valid': !birthdayNote?.invalid, 'is-invalid': birthdayNote?.invalid && ( birthdayNote?.touched || birthdayNote?.dirty )}"
                    id="birthdayNote"
                    name="birthdayNote"
                    placeholder="John Doe's birthday"
                    [(ngModel)]="model.note"
                    #birthdayNote="ngModel"
                    required
                    maxlength="200">
                  </textarea>

                  <div class="invalid-feedback" *ngIf="birthdayNote?.invalid && ( birthdayNote?.touched || birthdayNote?.dirty )">
                    {{ 'birthdays.changes.validations.note' | translate }}
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- end form -->

          <!-- start buttons -->
          <div class="row">
            <div class="col-sm-6 mt-1">
              <button class="btn btn-primary btn-lg btn-block" type="button" [disabled]="!addOrEditBirthdayForm.valid" (click)="saveBirthday()">
                {{ mode === 'ADD' ? ( 'birthdays.changes.birthdays.addButton' | translate ) : ( 'birthdays.changes.birthdays.editButton' | translate ) }}
              </button>
            </div>

            <div class="col-sm-6 mt-1">
              <button class="btn btn-secondary btn-lg btn-block" type="button" (click)="goBackToPreviousPage()">
                {{ 'birthdays.changes.navigation.goBack' | translate }}
              </button>
            </div>
          </div>
          <!-- end buttons -->

        </div>
      </div>
    </div>
  </div>
  <!-- end start form -->

  <!-- start reminders -->
  <div class="row" *ngIf="model.id != null">
    <div class="col-sm-12">

      <div class="card">
        <div class="card-header">
          {{ 'birthdays.changes.reminders.reminderPanelTitle' | translate }}
        </div>

        <div class="card-body">

          <div class="row">
            <div class="col-sm-12">

              <form
                class="form-inline reminder-form-margin"
                novalidate=""
                #reminderForm="ngForm">

                <div class="form-group">
                  <input
                    class="form-control reminder-unit-input"
                    id="reminder-units"
                    name="reminder-units"
                    type="number"
                    maxlength="1"
                    min="1"
                    max="9"
                    value="1"
                    [(ngModel)]="reminderModel.units"
                    required=""
                    appMustBeNumber="">
                </div>

                <div class="form-group">
                  <select
                    class="form-control reminder-inline-space"
                    name="reminder-type"
                    id="reminder-type"
                    [(ngModel)]="reminderModel.type"
                    required="">
                    <option value="DAYS"> {{ 'birthdays.changes.reminders.form.type.days' | translate }} </option>
                    <option value="WEEKS"> {{ 'birthdays.changes.reminders.form.type.weeks' | translate }} </option>
                    <option value="MONTHS"> {{ 'birthdays.changes.reminders.form.type.months' | translate }} </option>
                  </select>
                </div>

                <div
                  class="form-group reminder-inline-space">
                  {{ 'birthdays.changes.reminders.form.beforeAt' | translate }}
                </div>

                <div class="form-group">
                  <input
                    class="form-control reminder-inline-space reminder-time-input"
                    id="reminder-hours"
                    name="reminder-hours"
                    type="number"
                    maxlength="2"
                    min="0"
                    max="23"
                    value="0"
                    [(ngModel)]="reminderModel.hours"
                    required=""
                    appMustBeNumber="">
                </div>

                <div class="form-group">
                  :
                </div>

                <div class="form-group">
                  <input
                    class="form-control reminder-time-input"
                    id="reminder-minutes"
                    name="reminder-minutes"
                    type="number"
                    maxlength="2"
                    min="0"
                    max="59"
                    value="0"
                    [(ngModel)]="reminderModel.minutes"
                    required=""
                    appMustBeNumber="">
                </div>

                <button
                  class="btn btn-primary btn-lg reminder-inline-space"
                  type="submit"
                  [disabled]="!reminderForm.valid" (click)="addReminder()"> {{ 'birthdays.changes.reminders.form.buttonAddReminder' | translate }} </button>
              </form>
            </div>
          </div>

          <div class="row" *ngIf="reminders?.content.length != 0">
            <div class="col-sm-12">

              <div class="table-responsive">
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th> {{ 'birthdays.changes.reminders.table.when' | translate }} </th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let reminder of reminders?.content">
                      <td> {{ generateReminderPrettyText(reminder) }} </td>
                      <td>
                        <a (click)="deleteReminder(reminder, $event)" href="#">
                          <em class="mdi mdi-delete mdi-hc-lg"></em>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>

          <div
            *ngIf="reminders?.content.length === 0"
            role="alert"
            class="alert alert-primary alert-simple">

            <div class="icon">
              <span class="mdi mdi-info-outline"></span>
            </div>

            <div class="message">
              {{ 'birthdays.changes.reminders.noRemindersDefined' | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end reminders -->
</div>
