<!-- START Language list-->
<div class="btn-group" [ngClass]="{'open': showLanguage}">

  <button class="btn btn-default" (click)="toggleLanguage()"> {{ 'shared.localizationMenu.english' | translate }} </button>
  <ul class="dropdown-menu dropdown-menu-right" role="menu">
    <li>
      <a href="#"> {{ 'shared.localizationMenu.english' | translate }}</a>
    </li>
    <li>
      <a href="#"> {{ 'shared.localizationMenu.croatian' | translate }}</a>
    </li>
  </ul>
</div>
<!-- END Language list-->
