<!DOCTYPE html>
<html lang="en">

  <body class="be-splash-screen">

    <div class="be-wrapper be-login">

      <div class="be-content">
        <div class="main-content container-fluid">
          <div class="splash-container">
            <div class="card card-border-color card-border-color-primary">

              <div class="card-header">
                <img [appSrcWithBaseUrl]="'assets/bootstrap/img/logo-xx.png'" alt="logo" width="102" height="27" class="logo-img">
                <span class="splash-description"> {{ 'security.login.form.title' | translate }} </span>
              </div>

              <div class="card-body">
                <form
                  novalidate=""
                  #loginForm="ngForm"
                  (submit)="submit(loginForm);">

                  <div class="form-group">
                    <input
                      class="form-control"
                      [ngClass]="{'is-valid': !loginEmail?.invalid, 'is-invalid': loginEmail?.invalid && ( loginEmail?.touched || loginEmail?.dirty )}"
                      id="loginEmail"
                      name="loginEmail"
                      type="email"
                      placeholder=" {{ 'security.login.form.placeholder.email' | translate }} "
                      [(ngModel)]="loginData.email"
                      #loginEmail="ngModel"
                      email
                      required>

                    <div class="invalid-feedback" *ngIf="loginEmail?.invalid && ( loginEmail?.touched || loginEmail?.dirty )">
                      {{ 'security.login.form.validation.email' | translate }}
                    </div>
                  </div>

                  <div class="form-group">

                    <input
                      class="form-control"
                      [ngClass]="{'is-valid': !loginPassword?.invalid, 'is-invalid': loginPassword?.invalid && ( loginPassword?.touched || loginPassword?.dirty )}"
                      id="loginPassword"
                      name="loginPassword"
                      type="password"
                      [(ngModel)]="loginData.password"
                      #loginPassword="ngModel"
                      placeholder=" {{ 'security.login.form.placeholder.password' | translate }} "
                      minlength="10"
                      maxlength="40"
                      pattern="^[a-zA-Z0-9#$]+$"
                      required>

                    <div
                      class="invalid-feedback"
                      *ngIf="loginPassword?.invalid && ( loginPassword?.touched || loginPassword?.dirty )">
                      {{ 'security.login.form.validation.password' | translate }}
                    </div>
                  </div>

                  <div class="form-group row login-tools">

                    <div class="col-6 offset-6 login-forgot-password">
                      <a href="#"> {{ 'security.login.form.label.forgotPassword' | translate }} </a>
                    </div>

                  </div>
                  <div class="form-group login-submit">
                    <button
                      class="btn btn-primary btn-xl"
                      type="submit"
                      data-dismiss="modal"
                      [disabled]="!loginForm.valid">
                      {{ 'security.login.form.label.login' | translate }}
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="splash-footer">
              <span>{{ 'security.login.form.label.needToSignUp' | translate }}
                <a routerLink="/security/register"> {{ 'security.login.form.label.register' | translate }} </a>
              </span>
            </div>
          </div>
        </div>
      </div>

    </div>

  </body>

</html>
