<!-- if you want shade back in -->
<div class="modal-backdrop fade in"></div>

<!-- dialog itself -->
<div class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" (click)="onClose()">
          <span>×</span>
        </button>
        <h4 class="modal-title"> {{ title | translate}} </h4>
      </div>
      <div class="modal-body">
        <ng-content select="[body]"></ng-content>
      </div>

      <div class="modal-footer">
        <ng-content select="[footer]"></ng-content>
      </div>
    </div>
  </div>
</div>
