<div class="modal-backdrop show"></div>

<div tabindex="-1" role="dialog" class="modal show">

  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close" (click)="userRejected()">
          <span class="mdi mdi-close"></span>
        </button>
      </div>

      <div class="modal-body">
        <div class="text-center">
          <h3> {{ 'shared.applicationModal.title' | translate }} </h3>
          <p> {{ bodyText }} </p>
          <div class="row mt-8">
            <div class="col-sm-6">
              <button
                type="button"
                data-dismiss="modal"
                class="btn btn-block btn-secondary"
                (click)="userConfirmed()">
                {{ 'shared.applicationModal.yesButton' | translate }}
              </button>
            </div>
            <div class="col-sm-6">
              <button
                type="button"
                data-dismiss="modal"
                class="btn btn-block btn-primary"
                (click)="userRejected()">
                {{ 'shared.applicationModal.noButton' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
