<!DOCTYPE html>
<html lang="en">

  <body class="be-splash-screen">

    <div class="be-wrapper be-login be-signup">

      <div class="be-content">
        <div class="main-content container-fluid">
          <div class="splash-container sign-up">
            <div class="card card-border-color card-border-color-primary">

              <div class="card-header">
                <img [appSrcWithBaseUrl]="'assets/bootstrap/img/logo-xx.png'" alt="logo" width="102" height="27" class="logo-img">
              </div>

              <div class="card-body">
                <form
                  novalidate=""
                  #registerForm="ngForm" (submit)="submit(registerForm);">

                  <span class="splash-title pb-4"> {{ 'security.register.form.title' | translate }} </span>

                  <div class="form-group">
                    <input
                      class="form-control"
                      [ngClass]="{'is-valid': !registerEmail?.invalid, 'is-invalid': registerEmail?.invalid && ( registerEmail?.touched || registerEmail?.dirty )}"
                      id="registerEmail"
                      name="registerEmail"
                      type="email"
                      placeholder=" {{ 'security.register.form.placeholder.email' | translate }} "
                      [(ngModel)]="registerData.email"
                      #registerEmail="ngModel"
                      email
                      required>

                    <div
                      class="invalid-feedback"
                      *ngIf="registerEmail?.invalid && ( registerEmail?.touched || registerEmail?.dirty )">
                      {{ 'security.register.form.validation.email' | translate }}
                    </div>
                  </div>

                  <div class="form-group">
                    <input
                      class="form-control"
                      [ngClass]="{'is-valid': !registerPassword?.invalid, 'is-invalid': registerPassword?.invalid && ( registerPassword?.touched || registerPassword?.dirty )}"
                      id="registerPassword"
                      name="registerPassword"
                      type="password"
                      placeholder=" {{ 'security.register.form.placeholder.password' | translate }} "
                      [(ngModel)]="registerData.password"
                      #registerPassword="ngModel"
                      minlength="10"
                      maxlength="40"
                      pattern="^[a-zA-Z0-9#$]+$"
                      required>

                    <span
                      class="invalid-feedback"
                      *ngIf="registerPassword?.invalid && ( registerPassword?.touched || registerPassword?.dirty )">
                      {{ 'security.register.form.validation.password' | translate }}
                    </span>
                  </div>

                  <div class="form-group">
                    <input
                      class="form-control"
                      [ngClass]="{'is-valid': !retypePassword?.invalid, 'is-invalid': retypePassword?.invalid && ( retypePassword?.touched || retypePassword?.dirty )}"
                      id="registerRetypePassword"
                      name="registerRetypePassword"
                      type="password"
                      placeholder=" {{ 'security.register.form.placeholder.retypePassword' | translate }} "
                      [(ngModel)]="registerData.retypePassword"
                      #retypePassword="ngModel"
                      mustMatchLinkedName="registerPassword"
                      appMustMatchDirective
                      minlength="10"
                      maxlength="40"
                      pattern="^[a-zA-Z0-9#$]+$"
                      required>

                    <span
                      class="invalid-feedback"
                      *ngIf="retypePassword?.invalid && ( retypePassword?.touched || retypePassword?.dirty )">
                      {{ 'security.register.form.validation.retypePassword' | translate }}
                    </span>
                    <span
                      class="invalid-feedback"
                      *ngIf="retypePassword?.hasError('appMustMatchDirective') && ( retypePassword?.touched || retypePassword?.dirty )">
                      {{ 'security.register.form.validation.retypePasswordMustMatch' | translate }}
                    </span>
                  </div>

                  <div class="form-group pt-2">
                    <button
                      class="btn btn-block btn-primary btn-xl"
                      type="submit"
                      [disabled]="!registerForm.valid"> {{ 'security.register.form.label.createAccount' | translate }} </button>
                  </div>

                  <div class="form-group pt-3 mb-3">
                    <label class="custom-control custom-checkbox">
                      <input
                        class="custom-control-input"
                        id="agreedOnTerms"
                        name="agreedOnTerms"
                        type="checkbox"
                        [(ngModel)]="registerData.agreedOnTerms"
                        value=""
                        required>
                      <span class="custom-control-label">
                        {{ 'security.register.form.label.agreedOn' | translate }}
                        <a href="#"> {{ 'security.register.form.label.agreedOnTerms' | translate }} </a>
                      </span>
                    </label>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

  </body>
</html>
