 <div class="be-left-sidebar">
   <div class="left-sidebar-wrapper">

     <a href="#" class="left-sidebar-toggle" (click)="onSidebarToggle($event);"> {{ 'shared.sidebar.main' | translate }}</a>

     <div class="left-sidebar-spacer" [ngClass]="{ 'open': sidebarActive}">
       <div class="left-sidebar-scroll">
         <div class="left-sidebar-content">
           <ul class="sidebar-elements">

             <li *ngFor="let group of model.groups" [ngClass]="{'divider': group.type == 'menu'}">
               <span *ngIf="group.type == 'menu'"> {{ group.name | translate }} </span>

               <a routerLink="{{group.link}}" *ngIf="group.type == 'menu-item'">
                 <i [ngClass]="group.icon" *ngIf="group.icon"></i>
                 <span> {{ group.name | translate }} </span>
               </a>
             </li>

           </ul>
         </div>
       </div>
     </div>

   </div>
 </div>

