<div class="page-head">
  <h2 class="page-head-title"> {{ 'birthdays.home.content.search.welcome' | translate }} </h2>
</div>

<div class="main-content container-fluid">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <a routerLink="/birthdays/changes">
            <em class="mdi mdi-plus mdi-hc-lg"></em>
          </a>
        </div>
        <div class="card-body">
          <input
            class="form-control" placeholder="{{ 'birthdays.home.content.search.placeholderSearchExisting' | translate }}"
            [value]="currentSearchTerm"
            (keyup)="onSearchKeyUp($event)">
        </div>
      </div>
    </div>
  </div>

  <!-- start result table  -->
  <div class="row" *ngIf="birthdaysDataInitialized">
    <div class="col-sm-12">

      <div class="card card-table">
        <div class="card-header">
          {{ 'birthdays.home.content.data.table.panelHeader' | translate }}
        </div>

        <!-- START table-responsive-->
        <!-- There is data -->
        <div class="card-body">

          <div class="table-responsive" *ngIf="birthdaysData?.length != 0">

            <table class="table table-striped table-hover">
              <thead>
              <tr>
                <th style="width: 80%"> {{ 'birthdays.home.content.data.table.description' | translate }} </th>
                <th style="width: 10%"> {{ 'birthdays.home.content.data.table.when' | translate }} </th>
                <th style="width: 10%"> {{ 'birthdays.home.content.data.table.actions' | translate }} </th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let birthday of birthdaysData">
                  <td class="cell-detail">
                    <span> {{ birthday.personInfo }}</span>
                    <span class="cell-detail-description"> {{ birthday.note }}</span>
                  </td>
                  <td class="cell-detail">
                    <span> {{ formatBirthdayDate(birthday) }}</span>
                  </td>
                  <td class="cell-detail">
                    <a (click)="deleteBirthday(birthday, $event)" href="#">
                      <em class="mdi mdi-delete mdi-hc-lg mr-2"></em>
                    </a>
                    <a routerLink="/birthdays/changes/{{birthday.id}}">
                      <em class="mdi mdi-edit mdi-hc-lg"></em>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div
            *ngIf="birthdaysData?.length == 0"
            role="alert"
            class="alert alert-primary alert-simple">

            <div class="icon">
              <span class="mdi mdi-info-outline"></span>
            </div>

            <div class="message">
              {{ 'birthdays.alert.noData' | translate }}
            </div>
          </div>
        </div>

        <div class="card-footer" *ngIf="birthdaysData?.length != 0 || ( birthdaysData?.length == 0 && birthdaysDataPageNumber > 1)">
          <app-application-pagination (componentActions)="onPageChange($event)"></app-application-pagination>
        </div>
      </div>
    </div>
  </div>
  <!-- end result table  -->
</div>
