<div class="row">
  <div class="col-md-12">
    <span> Showing page {{ currentPageNumber }} </span>
    <ul class="pagination float-right">
      <li
        *ngIf="paginationInfo.minusFive.show"
        class="page-item"
        [ngClass]="{ 'disabled': !paginationInfo.minusFive.enabled}"
        (click)="minusFiveClicked()">
        <a class="page-link">
          <span>&lt;&lt; </span> <span class="no-sm">-5</span>
        </a>
      </li>
      <li
        *ngIf="paginationInfo.previous.show"
        class="page-item"
        [ngClass]="{ 'disabled': !paginationInfo.previous.enabled}"
        (click)="previousClicked()">
        <a class="page-link">
          <span>&lt; </span> <span class="no-sm">Previous</span>
        </a>
      </li>
      <li
        *ngIf="paginationInfo.next.show"
        class="page-item"
        [ngClass]="{ 'disabled': !paginationInfo.next.enabled}"
        (click)="nextClicked()">
        <a class="page-link">
          <span class="no-sm">Next</span> <span> &gt;</span>
        </a>
      </li>
      <li
        *ngIf="paginationInfo.plusFive.show"
        class="page-item"
        [ngClass]="{ 'disabled': !paginationInfo.plusFive.enabled}"
        (click)="plusFiveClicked()">
        <a class="page-link">
          <span class="no-sm">+5 </span> <span>&gt;&gt;</span>
        </a>
      </li>
    </ul>
  </div>
</div>
