  <ul class="nav navbar-nav float-right be-user-nav">

    <li
      class="nav-item dropdown"
      [ngClass]="{'show': active}">
      <a
        href="#"
        data-toggle="dropdown"
        role="button"
        aria-expanded="false"
        class="nav-link dropdown-toggle"
        (click)="onSelect($event)">

        <img [appSrcWithBaseUrl]="'assets/bootstrap/img/avatar.png'" alt="Avatar">
      </a>

      <div
        role="menu"
        class="dropdown-menu"
        [ngClass]="{'show': active}">

        <div class="user-info">
          <div class="user-name">{{ username }}</div>
        </div>
        <a href="#" class="dropdown-item" (click)="onLogout($event)">
          <span class="icon mdi mdi-power"></span> {{ 'security.logout.menuLogout' | translate }}
        </a>
      </div>
    </li>

  </ul>
